/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap";
@import "variables";

// Mixins, variables, etc.

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

a, a:hover, a:focus,
abbr, address,
h1, h2, h3, h4, h5, h6,
mark,
del,
s,
ins,
u,
small,
em,
p,
span,
div,
ul > li > a,
.btn,
.lead,
.nav.navbar-nav,
.table th {
  font-weight: 300;
}

label,
span.label,
b {
  font-weight: normal;
}


// Universal

html {
  position: relative;
  min-height: 100%;
	overflow-y: scroll;
}

body {
	padding-top: 70px; /* Margin top by navbar height */
}

// Footer

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: $inverse;
}

.footer-dark {
  hr {
    border-color: $footer-dark-color;
  }
}

// Miscellaneous

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 15px;
  @include box_sizing;
  color: $footer-dark-color;
}