/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap";
@import "variables";

// Mixins, variables, etc.

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

// Avatar images

img.avatar.avatar-original, div.avatar.avatar-original {
	width: 122px;
	height: 122px;
}

img.avatar.avatar-medium, div.avatar.avatar-medium {
	width: 52px;
	height: 52px;
}

img.avatar.avatar-thumb, div.avatar.avatar-thumb {
	width: 42px;
	height: 42px;
}

.navbar-nav a.avatar {
	padding-top: 4px;
	padding-bottom: 4px;
}

table td.avatar {
	width: 50px;
}

// Navbar

.navbar-main {
  border-bottom: $border-width solid $navbar-main-border-color;
}

// Footer

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  
}

.footer-dark {
  background-color: $gray-dark;
}

// Colors

.bg-white {
  background-color: #FFF;
}

// Universal

html {
  position: relative;
  min-height: 100%;
	overflow-y: scroll;
}

body {
	padding-top: 70px; /* Margin top by navbar height */
  background-color: $gray-lightest;
}

// Miscellaneous

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 15px;
  @include box_sizing;
  color: $footer-dark-color;
}