@import "colors";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* navbar */

.navbar-custom {
  background-color: #FFFFFF;
}

/* avatar images */

img.avatar,
div.avatar {
  background-size: cover;
  background-position: center;
  border: 1px solid $gray-lighter;
}

img.avatar.avatar-original,
div.avatar.avatar-original {
  width: 122px;
  height: 122px;
}

img.avatar.avatar-medium,
div.avatar.avatar-medium {
  width: 52px;
  height: 52px;
}

img.avatar.avatar-thumb,
div.avatar.avatar-thumb {
  width: 42px;
  height: 42px;
}

.navbar-nav a.avatar {
  padding-top: 4px;
  padding-bottom: 4px;
}

table td.avatar {
  width: 60px;
}

/* file upload */

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/* panels */

.activity-mini {
  padding-right: 15px;
  float: left;
}

/* universal */

html {
	overflow-y: scroll;
}

body {
	padding-top: 80px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
}

.center h1 {
	margin-bottom: 10px;
}

select.date-select {
	display: inline-block;
  width: auto;
}

.only-bottom-margin {
  margin-top: 0px;
}

/* forms */

.field_with_errors {
  @extend .has-error;
}

/* select input style */

select {
  -webkit-appearance: button;
  -moz-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-padding-end: 20px;
  -moz-padding-end: 20px;
  -webkit-padding-start: 2px;
  -moz-padding-start: 2px;
  background-color: #F07575; /* fallback color if gradients are not supported */
  background-image: image-url("select-arrow.png"), -webkit-linear-gradient(top, #E5E5E5, #F4F4F4); /* For Chrome and Safari */
  background-image: image-url("select-arrow.png"), -moz-linear-gradient(top, #E5E5E5, #F4F4F4); /* For old Fx (3.6 to 15) */
  background-image: image-url("select-arrow.png"), -ms-linear-gradient(top, #E5E5E5, #F4F4F4); /* For pre-releases of IE 10*/
  background-image: image-url("select-arrow.png"), -o-linear-gradient(top, #E5E5E5, #F4F4F4); /* For old Opera (11.1 to 12.0) */ 
  background-image: image-url("select-arrow.png"), linear-gradient(to bottom, #E5E5E5, #F4F4F4); /* Standard syntax; must be last */
  background-position: center right;
  background-repeat: no-repeat;
  border: 1px solid #AAA;
  border-radius: 2px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  color: #555;
  font-size: inherit;
  margin: 0;
  overflow: hidden;
  padding-top: 2px;
  padding-bottom: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* miscellaneous */

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}