/*----- Sidebar navigation -----*/

@import"colors";
@import"bootstrap/variables";


/*----- Sidebar navigation -----*/

.sidebar {
	margin-bottom: 15px;
}

.sidebar ul.nav-sidebar {
	list-style-type: none;
	padding-left: 0px;
}

.sidebar ul.nav-sidebar li {
	padding-top: 15px;
}

.sidebar .nav-sidebar .sidebar-child li a {
	padding-right: 20px;
	padding-left: 40px;
}

.nav-sidebar > li > a {
	color: $gray-light;
}

.nav-sidebar > li > a.active, 
.nav-sidebar > li > a:hover, 
.nav-sidebar > li > a:focus {
	color: $brand-primary;
}